<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title> RK | Builders </title>

    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">

    <link href="{% static 'css/icon-font/font-awesome.css' %}" rel="stylesheet">
    <link href="{% static 'css/icon-font/pe-icon-7.css' %}" rel="stylesheet">

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <link href="{% static 'css/animsition.css' %}" rel="stylesheet">

    <link href="{% static 'css/masterslider/masterslider.css' %}" rel="stylesheet">

    <link href="{% static 'revolution/css/settings.css' %}" rel="stylesheet">
    <link href="{% static 'revolution/css/layers.css' %}" rel="stylesheet">
    <link href="{% static 'revolution/css/navigation.css' %}" rel="stylesheet">
    <!-- rev slider -->

    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <script src="{% static 'js/modernizr.js' %}"></script>




</head>

<body data-smooth-scroll="true">

    <div class="animsition-overlay" data-animsition-overlay="true">

        <header>

            <div class="nav-wrap is-fixed is-shrink off-canvas" data-is-fill="true">

                <div class="container-fluid">

                    <div class="row">

                        <div class="col-md-12 carna-menu-wrap">

                            <ul class="carna-menu menu-highlight menu-smooth">
                                <li>
                                    <a href="#home" data-scroll class="scrollTo">Home</a>

                                </li>

                                <li><a href="#about" data-scroll class="scrollTo">about</a>

                                </li>

                                <li><a href="#work" data-scroll class="scrollTo">work</a>

                                </li>

                                <li><a href="#services" data-scroll class="scrollTo">What is Vastu</a>

                                </li>
                                <li><a href="#team" data-scroll class="scrollTo">review</a>

                                </li>
                                <li><a href="#contact" data-scroll class="scrollTo">contact</a>

                                </li>

                            </ul>
                            <!-- end of menu -->

                        </div>
                        <!-- / col-md-9 -->

                        <div class="col-xs-3 text-right button-wrap">
                            <button class="button-trigger"><span></span>
                            </button>
                        </div>
                        <!-- / col-xs-6 -->

                        <div class="col-xs-6 col-sm-6 col-md-3 brand-band">

                            <div class="brand-wrap clearfix">

                                <a href="{% url 'home' %}" class="brand">
                                    <img src="{% static 'images/logo/logo-white.png' %}" class="logo-white" alt="">
                                    <img src="{% static 'images/logo/logo.png' %}" class="logo-dark" alt="">

                                </a>
                            </div>

                        </div>
                        <!-- / col-xs-6 -->

                        <div class="col-xs-3 mm-button-band ">

                            <button id="mm-menu-toggle" class="mm-menu-toggle">Toggle Menu<span></span>
                            </button>
                        </div>

                        <div class="col-md-12 mobile-wrap" data-one-page="true" data-has-button="true">
                            <ul class="carna-menu-mobile mobile-smooth" data-scroll-header>

                                <li>
                                    <a href="#home" class="active scrollToMini" data-scroll>Home</a>

                                </li>
                                <li><a href="#about" data-scroll class="scrollToMini">about</a>

                                </li>
                                <li><a href="#work" data-scroll class="scrollToMini">work</a>

                                </li>
                                <li><a href="#services" data-scroll class="scrollToMini">What is Vastu</a>

                                </li>
                                <li><a href="#team" data-scroll class="scrollToMini">review</a>

                                </li>
                                <li><a href="#contact" data-scroll class="scrollToMini">contact</a>

                                </li>
                            </ul>

                        </div>
                        <!-- / col-md-12 -->

                        <div class="clearfix"></div>

                    </div>
                    <!-- end row -->

                </div>
                <!-- end container -->

            </div>
            <!-- end nav-wrap -->

        </header>
        <!-- end header -->

        <div id="wrapper" class="content-wrapper">

            <div id="home" class="pages">

                <!-- REVOLUTION SLIDER START -->
                <div id="rev_slider_104_1_wrapper" class="rev_slider_wrapper fullscreen-container" data-alias="scroll-effect76" style="background-color:#111111;padding:0px;">
                    <!-- START REVOLUTION SLIDER 5.0.7 fullscreen mode -->
                    <div id="rev_slider_104_1" class="rev_slider fullscreenbanner" style="display:none;" data-version="5.0.7">
                        <ul>
                            {% for s in slider_images %}
                                    <!-- SLIDE  -->
                                 <li data-index="rs-{{s.id}}"
                                   data-transition="slideoverhorizontal"
                                   data-slotamount="default"
                                   data-easein="Power4.easeInOut"
                                   data-easeout="Power4.easeInOut"
                                   data-masterspeed="1000"
                                   data-thumb="{{s.image.url}}"
                                   data-rotate="0"
                                   data-fstransition="fade"
                                   data-fsmasterspeed="1500"
                                   data-fsslotamount="7"
                                   data-saveperformance="off"
                                   data-title="{{s.title}}"
                                   data-description="{{s.description}}">
                                    <!-- MAIN IMAGE -->
                                    <img src="{{s.image.url}}" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>
                                    <!-- LAYERS -->

                                    <!-- LAYER NR. 1 -->
                                    <div class="tp-caption tp-shape tp-shapewrapper rs-parallaxlevel-0" id="slide-{{s.id}}-layer-11"
                                    data-x="['center','center','center','center']"
                                    data-hoffset="['0','0','0','0']"
                                    data-y="['bottom','bottom','bottom','bottom']"
                                    data-voffset="['0','0','0','0']"
                                    data-width="full"
                                    data-height="['400','400','400','550']"
                                    data-whitespace="nowrap"
                                    data-transform_idle="o:1;"
                                    data-style_hover="cursor:default;"
                                    data-transform_in="opacity:0;s:1500;e:Power2.easeInOut;"
                                    data-transform_out="opacity:0;s:1000;s:1000;"
                                    data-start="0" data-basealign="slide"
                                    data-responsive_offset="off"
                                    data-responsive="off" style="z-index: 5;background-color:rgba(0, 0, 0, 0.50);border-color:rgba(0, 0, 0, 0);background:linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.45) 100%);">
                                    </div>

                                    <!-- LAYER NR. 2 -->
                                    <div class="tp-caption BigBold-Title   tp-resizeme rs-parallaxlevel-0" id="slide-{{s.id}}-layer-1"
                                    data-x="['left','left','left','left']"
                                    data-hoffset="['50','50','30','17']"
                                    data-y="['bottom','bottom','bottom','bottom']"
                                    data-voffset="['110','110','180','160']"
                                    data-fontsize="['110','100','70','60']"
                                    data-lineheight="['100','90','60','60']"
                                    data-width="['none','none','none','400']"
                                    data-height="none"
                                    data-whitespace="['nowrap','nowrap','nowrap','normal']"
                                    data-transform_idle="o:1;"
                                    data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;"
                                    data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                                    data-mask_in="x:0px;y:[100%];"
                                    data-mask_out="x:inherit;y:inherit;"
                                    data-start="500" data-splitin="none"
                                    data-splitout="none"
                                    data-basealign="slide"
                                    data-responsive_offset="off" style="z-index: 6; white-space: nowrap;">{{s.title}}
                                    </div>

                                    <!-- LAYER NR. 3 -->
                                    <div class="tp-caption BigBold-SubTitle   rs-parallaxlevel-0" id="slide-{{s.id}}-layer-4"
                                    data-x="['left','left','left','left']"
                                    data-hoffset="['55','55','33','20']"
                                    data-y="['bottom','bottom','bottom','bottom']"
                                    data-voffset="['40','1','74','58']"
                                    data-fontsize="['15','15','15','13']"
                                    data-lineheight="['24','24','24','20']"
                                    data-width="['410','410','410','280']"
                                    data-height="['60','100','100','100']"
                                    data-whitespace="normal"
                                    data-transform_idle="o:1;"
                                    data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;" data-transform_out="y:50px;opacity:0;s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                                    data-start="650"
                                    data-splitin="none"
                                    data-splitout="none"
                                    data-basealign="slide"
                                    data-responsive_offset="off"
                                    data-responsive="off" style="z-index: 7; min-width: 410px; max-width: 410px; max-width: 60px; max-width: 60px; white-space: normal;">{{s.description}}
                                    </div>

                                    <!-- LAYER NR. 4 -->
                                    <div class="tp-caption BigBold-Button rev-btn  rs-parallaxlevel-0" id="slide-{{s.id}}-layer-7"
                                    data-x="['left','left','left','left']"
                                    data-hoffset="['480','480','30','20']"
                                    data-y="['bottom','bottom','bottom','bottom']"
                                    data-voffset="['50','50','30','20']"
                                    data-width="none"
                                    data-height="none"
                                    data-whitespace="nowrap"
                                    data-transform_idle="o:1;"
                                    data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
                                    data-style_hover="c:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);cursor:pointer;"
                                    data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;"
                                    data-transform_out="y:50px;opacity:0;s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                                    data-start="650"
                                    data-splitin="none"
                                    data-splitout="none"
                                    data-actions='[{"event":"click","action":"scrollbelow","offset":"px"}]'
                                    data-basealign="slide" data-responsive_offset="off"
                                    data-responsive="off" style="z-index: 8; white-space: nowrap;border-color:rgba(255, 255, 255, 0.25);outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;">READ MORE
                                    </div>

                                    <!-- LAYER NR. 5 -->
                                    <div class="tp-caption BigBold-Button rev-btn  rs-parallaxlevel-0" id="slide-{{s.id}}-layer-12"
                                data-x="['left','left','left','left']"
                                data-hoffset="['676','676','226','216']"
                                data-y="['bottom','bottom','bottom','bottom']"
                                data-voffset="['50','50','30','20']"
                                data-width="none"
                                data-height="none"
                                data-whitespace="nowrap"
                                data-transform_idle="o:1;"
                                data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
                                data-style_hover="c:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);cursor:pointer;"
                                data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;"
                                data-transform_out="y:50px;opacity:0;s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                                data-start="650" data-splitin="none" data-splitout="none"
                                data-actions='[{"event":"click","action":"jumptoslide","slide":"next","delay":""}]'
                                data-basealign="slide"
                                data-responsive_offset="off"
                                data-responsive="off" style="z-index: 9; white-space: nowrap;padding:15px 20px 15px 20px;border-color:rgba(255, 255, 255, 0.25);outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;"><i class="fa fa-chevron-right"></i>
                                </div>
                                 </li>
                                 <!-- SLIDE  -->
                            {% endfor %}

                        </ul>
                        <div class="tp-static-layers"></div>
                        <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
                    </div>
                </div>
                <!-- END REVOLUTION SLIDER -->

            </div>
            <!-- end home -->

            <div id="about" class="pages">

                <div class="container-fluid space-y">

                    <div class="row">

                        <div class="col-md-12 text-center">

                            <h1 class="section-header">about us <span class="underline animated" data-animation="fullWidth"></span></h1>

                        </div>
                        <!-- / col-md-12 -->

                    </div>
                    <!-- / row -->

                    <div class="row">

                        <div class="col-md-5 col-sm-12">
                            {% autoescape off %}{{about_us.description}}{% endautoescape %}
                        </div>
                        <!-- / col-sm-5 -->

                        <div class="col-md-7 hidden-xs hidden-sm">

                            <div class="img-full animated" data-animation="fadeInRight"><img src="{{about_us.image.url}}" height="624" width="1184" alt=""></div>

                        </div>
                        <!-- / col-sm-6 -->

                    </div>
                    <!-- / row -->

                </div>
                <!-- / container -->
            </div>
            <!-- end about -->

            <div id="work" class="pages">

                <section class="l-portfolio">

                    <div class="container">

                        <div class="row">

                            <div class="col-md-12 text-center">

                                <h1 class="section-header"> our work  <span class="underline animated" data-animation="fullWidth"></span></h1>

                            </div>
                            <!-- / col-md-12 -->

                        </div>
                        <!-- / row -->

                    </div>
                    <!-- / container -->

                    <div class="container-fluid space-y-b">

                        <div class="grid-container cbp cbp-fullscreen fadeAnim"
                            data-animate-type="quicksand"
                            data-layoutmode="grid"
                            data-grid-adjusment="responsive"
                            data-filter="#js-filters-masonry-projects">

                            <ul class="clearfix">
                                {% for p in projects %}
                                    <li class="cbp-item element" data-symbol="Hg" >
                                        <figure class="block-item">
                                            <img src="{{p.image.url}}" alt="" />
                                            <figcaption>
                                                <div class="block-item__bg"></div>
                                                <div class="block-item__details">
                                                    <p>{{p.project_type}}</p>
                                                    <h3>{{p.title}}</h3>
                                                </div>
                                            </figcaption>
                                        </figure>
                                    </li>
                                {% endfor %}


                            </ul>
                            <!-- nd porfolio -->

                        </div>
                        <!-- / grid-container -->

                    </div>
                    <!-- end cbp-l-grid-gallery -->

                </section>
                <!-- / SECTION -->

            </div>
            <!-- end work -->

            <div id="services" class="pages">

                <div class="container space-y-t">

                    <div class="row">

                        <div class="col-md-12 text-center">

                            <h1 class="section-header">what we vastu<span class="underline animated" data-animation="fullWidth"></span></h1>

                        </div>
                        <!-- / col-md-12 -->

                    </div>
                    <!-- / row -->

                </div>
                <!-- / container -->

                <div class="container-fluid space-y-b-h">

                    <div class="row">

                        <div class="col-md-4 content-box-side animated" data-animation="fadeIn">

                            <div class="box-side-details">
                                <div class="box-side__header">
                                    <h3 class="standard-title text-uppercase">Question1</h3> </div>
                                <p>{% autoescape off %}{{vastu.answer1}}{% endautoescape %}</p>
                            </div>
                        </div>
                        <div class="col-md-4 content-box-side animated" data-animation="fadeIn" data-animation-delay="200">

                            <div class="box-side-details">
                                <div class="box-side__header">
                                    <h3 class="standard-title text-uppercase">Question2</h3> </div>
                                <p>{% autoescape off %}{{vastu.answer2}}{% endautoescape %}</p>
                            </div>
                        </div>
                        <div class="col-md-4 content-box-side animated" data-animation="fadeIn" data-animation-delay="400">

                            <div class="box-side-details">
                                <div class="box-side__header">
                                    <h3 class="standard-title text-uppercase">Question3</h3> </div>
                                <p>{% autoescape off %}{{vastu.answer3}}{% endautoescape %}</p>
                            </div>
                        </div>

                    </div>
                    <!-- end row -->

                </div>
                <!-- end container -->


            </div>
            <!-- end services -->

            <div id="team" class="pages">

                <div class="container space-y-t">

                    <div class="row">

                        <div class="col-md-12 text-center">

                            <h1 class="section-header">Review <span class="underline animated" data-animation="fullWidth"></span></h1>

                        </div>
                        <!-- / col-md-12 -->

                    </div>
                    <!-- / row -->

                </div>
                <!-- / container -->
                <section class="test-classic space-y highlight-section">


                    <div class="container">

                        <div class="row">

                            <div class="col-md-8 col-md-offset-2">

                                <ul class="bx-slider" data-bx-delay="1000" data-bx-mode="fade" data-bx-easing="easeInOutQuint" data-bx-auto-play="true" data-bx-control="false" data-bx-auto-hover="true" data-bx-pager="true">
                                {% for r in reviews %}
                                    <li>

                                        <div class="item">

                                            <img src="{{r.image.url}}" alt="">
                                            <p>{% autoescape off %}{{r.description}}{% endautoescape %}</p>
                                            <h2 class="standard-title">{{r.name}}</h2>
                                            <span>{{r.designation}}</span>

                                        </div>

                                    </li>
                                {% endfor %}
                                </ul>
                                <!--end bx slider-->

                            </div>
                            <!-- end col-md-12 -->

                        </div>
                        <!-- / row -->

                    </div>
                    <!-- / container-->

                </section>
                <!-- / test-classic-->

            </div>
            <!-- end team -->
            <div id="contact" class="pages">


                <div class="container space-y-t">

                    <div class="row">

                        <div class="col-md-12 text-center">

                            <h1 class="section-header">talk to us <span class="underline animated" data-animation="fullWidth"></span></h1>


                        </div>
                        <!-- / col-md-12 -->

                    </div>
                    <!-- / row -->

                </div>

                <div class="map-wrap">

                    <div class="gmap_canvas" id="map"
                        data-latitude="{{contact_info.latitude}}"
                        data-longitude="{{contact_info.longitude}}"
                        data-style-num="2"
                        data-address="{{contact_info.address_line1}}, {% if contact_info.address_line2 %}{{contact_info.address_line2}}, {% endif %}{{contact_info.country}}">
                    </div>

                </div>
                <!-- / map-wrap -->

                <div class="space-y pattern-bg">

                    <div class="container padding-y">

                        <div class="row">

                            <div class="col-md-12">
                                <h2 class="section-title">Leave Message</h2>

                                <div class="quform-outer">

                                    <form class="quform form-overlay" action="{% url 'submit-query' %}" method="post" enctype="multipart/form-data" >

                                        <div class="quform-inner">
                                            <div class="quform-success-message" style="display: none;">Message submitted successfully.</div>

                                            <div class="quform-elements">

                                                <div class="row">
                                                    {% csrf_token %}

                                                    <!-- Begin Text input element -->
                                                    <div class="quform-overlay quform-element clearfix quform-element-text col-md-6">

                                                        <label for="{{form.name.id_for_label}}">{{form.name.label}} <span class="quform-required">*</span>
                                                        </label>
                                                        <div class="quform-input">
                                                            {{form.name}}
                                                        </div>

                                                    </div>
                                                    <!-- End Text input element -->

                                                    <!-- Begin Text input element -->
                                                    <div class="quform-overlay quform-element clearfix quform-element-text col-md-6">

                                                        <label for="{{form.email.id_for_label}}">{{form.email.label}} <span class="quform-required">*</span>
                                                        </label>
                                                        <div class="quform-input">
                                                            {{form.email}}
                                                        </div>

                                                    </div>
                                                    <!-- End Text input element -->

                                                    <!-- Begin Textarea element -->
                                                    <div class="quform-overlay quform-element clearfix quform-element-textarea quform-huge col-md-12">

                                                        <label for="{{form.message.id_for_label}}">{{form.message.label}} <span class="quform-required">*</span>
                                                        </label>
                                                        <div class="quform-input">
                                                            <!--textarea id="message" name="message" style="height: 130px;" required></textarea-->
                                                            {{form.message}}
                                                        </div>

                                                    </div>
                                                    <!-- End Textarea element -->

                                                    <!-- Begin Submit button -->
                                                    <div class="quform-submit-overlay col-md-12 clearfix">
                                                        <div class="quform-submit-inner">
                                                            <button type="submit" value="Send" class="btn-main small"><span>submit form</span>
                                                            </button>
                                                        </div>
                                                        <div class="quform-loading-wrap"><span class="quform-loading"></span>
                                                        </div>
                                                    </div>
                                                    <!-- End Submit button -->
                                                </div>
                                                <!-- / row -->

                                            </div>
                                            <!-- / quform-elements -->

                                        </div>
                                        <!-- / quform-inner" -->

                                    </form>
                                    <!-- end quform -->

                                </div>
                                <!-- end quform-outer -->

                            </div>
                            <!-- end col-md-12 -->

                        </div>
                        <!-- end row -->

                    </div>
                    <!-- end container -->

                </div>
                <!-- end parallax-base -->
            </div>

            <!-- end contact -->

            <footer class="main-footer space-y text-center">

                <h4 class="text-uppercase title-footer">&copy; RK Builders 2016</h4>


            </footer>

        </div>
        <!-- / content-wrapper-->


        <nav id="mm-menu" class="mm-menu">

            <h1 class="mm-menu__title text-uppercase">info</h1>

            <div class="mm-menu__address">
                <h6 class="text-uppercase">about us</h6>
                {% autoescape off %}{{about_us.sidebar_description}}{% endautoescape %}

            </div>
            <!-- / mm-menu__address-->

            <div class="mm-menu__address">
                <h6 class="text-uppercase">contact info</h6>
                <ul class="mm-menu__list">
                    <li>{{contact_info.phone}}</li>
                    <li>{{contact_info.email}}</li>
                </ul>
            </div>
            <!-- / mm-menu__address-->

            <div class="mm-menu__address">
                <h6 class="text-uppercase">our address</h6>
                <ul class="mm-menu__list">
                    <li>{{contact_info.address_line1}},</li>
                    {% if contact_info.address_line2 %}<li>{{contact_info.address_line2}},</li>{% endif %}
                    <li>{{contact_info.country|title}}</li>
                </ul>
            </div>
            <!-- / mm-menu__address-->

            <div class="mm-menu__address">


                <ul class="mm-menu__social">
                    <li><a href="#"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a>
                    </li>
                    <li><a href="#"><i class="fa fa-pinterest"></i></a>
                    </li>
                    <li><a href="#"><i class="fa fa-behance"></i></a>
                    </li>

                </ul>
                <!-- / mm-menu__social -->

            </div>

        </nav>
        <!-- /nav -->

        <a href="#" class="back-to-top"><i class="fa fa-long-arrow-up"></i></a>

    </div>
    <!-- / animsation -->

    <script src="{% static 'js/jquery.1.12.4.js' %}"></script>
    <script src="{% static 'js/jquery-ui.min.js' %}"></script>
    <script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
    <script src="{% static 'js/jquery.appear.js' %}"></script>
    <script src="{% static 'js/jquery.validate.min.js' %}"></script>

    <script src="{% static 'revolution/js/jquery.themepunch.tools.min.js' %}"></script>
    <script src="{% static 'revolution/js/jquery.themepunch.revolution.min.js' %}"></script>

    <script type="text/javascript" src="{% static 'revolution/js/extensions/revolution.extension.video.min.js' %}"></script>
<script type="text/javascript" src="{% static 'revolution/js/extensions/revolution.extension.slideanims.min.js' %}"></script>
<script type="text/javascript" src="{% static 'revolution/js/extensions/revolution.extension.actions.min.js' %}"></script>
<script type="text/javascript" src="{% static 'revolution/js/extensions/revolution.extension.layeranimation.min.js' %}"></script>
<script type="text/javascript" src="{% static 'revolution/js/extensions/revolution.extension.navigation.min.js' %}"></script>
<script type="text/javascript" src="{% static 'revolution/js/extensions/revolution.extension.parallax.min.js' %}"></script>

    <script src="{% static 'js/jquery.countTo.js' %}"></script>
    <script src="{% static 'js/jquery.bxslider.min.js' %}"></script>
    <script src="{% static 'js/jquery.cubeportfolio.min.js' %}"></script>
    <script src="{% static 'js/cubeportfolio.main.js' %}"></script>
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'js/masterslider.min.js' %}"></script>

    <script src="http://maps.google.com/maps/api/js"></script>
    <script src="{% static 'js/map-script.min.js' %}"></script>
    <script src="{% static 'js/velocity.min.js' %}"></script>
    <script src="{% static 'js/jquery.animsition.js' %}"></script>
    <script src="{% static 'js/materialmenu.js' %}"></script>

    <!--script src="{% static 'quform/js/plugins.js' %}"></script>
    <script src="{% static 'quform/js/scripts.js' %}"></script-->

    <script src="{% static 'js/retina.min.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>

</body>

</html>
